astunparse==1.6.3
blobfile==1.2.8
configparser==5.2.0
cython==0.29.28
flatbuffers==2.0
gast==0.5.3
geomloss==0.2.4
google-pasta==0.2.0
gql==0.2.0
h5py==3.6.0
keras==2.8.0
keras-preprocessing==1.1.2
libclang==13.0.0
matplotlib==3.5.1
mpi4py==3.1.3
nvidia-ml-py3==7.352.0
opt-einsum==3.3.0
pandas==1.4.1
sklearn==0.0
subprocess32==3.5.4
tensorboard==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
tf-estimator-nightly==2.8.0.dev2021122109
torchvision==0.12.0
tqdm==4.63.0
wandb==0.12.15
watchdog==2.1.6
wrapt==1.14.0
yaspin==2.1.0
